@font-face {
  font-family: "MainTitle";
  src: url("../fonts/Praise-Regular.ttf");
}
@font-face {
  font-family: "NavAndSmallTitle";
  src: url("../fonts/ShadowsIntoLight-Regular.ttf");
}
@font-face {
  font-family: "Descriptions";
  src: url("../fonts/PatrickHand-Regular.ttf");
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  justify-content: end;
  &__item {
    font-family: "NavAndSmallTitle";
    margin-right: 16px;
    padding: 16px;
    user-select: none;
    cursor: pointer;
    &--active {
    }
  }
}
