@font-face {
  font-family: "MainTitle";
  src: url("../fonts/Praise-Regular.ttf");
}
@font-face {
  font-family: "NavAndSmallTitle";
  src: url("../fonts/ShadowsIntoLight-Regular.ttf");
}
@font-face {
  font-family: "Descriptions";
  src: url("../fonts/PatrickHand-Regular.ttf");
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  align-self: center;
  font-family: "Descriptions";
}

body {
  background: url("../backgrounds/white-brick.jpg");
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  justify-content: end;
  &__item {
    font-family: "NavAndSmallTitle";
    font-size: 25px;
    margin-right: 16px;
    padding: 16px;
    user-select: none;
    cursor: pointer;
    &--active,
    &:hover {
      transition: 0.1s;
      transform: scale(1.4);
      text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
    }
  }
}

.home__ {
  &title {
    font-family: "MainTitle";
    font-size: 64px;
    &--tree {
      text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
      color: green;
    }
  }

  &welcome-container {
    margin-top: 16px;
    padding: 16px 20px;
    border: goldenrod solid;
    width: 75%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    text-align: center;
    color: orange;
  }

  &welcome-msg {
  }
  &title-category {
    font-family: "NavAndSmallTitle";
    font-size: 40px;
  }
}

.hour {
  margin-bottom: 2em;
  padding-top: 2em;
  align-items: center;
  &__title {
    border: green solid;
    border-radius: 15px;
    padding: 0px 8px;
    margin-bottom: 8px;
  }
  &__list {
  }

  &__list-item {
    width: 100%;
    justify-content: space-between;
    gap: 16px;
    font-size: 25px;
  }
}

.location {
  border: orange solid;
  padding: 0.5em 1em;
  border-radius: 15px;
  margin-left: 1em;
  align-self: start;
  &__address {
    font-size: 25px;
  }
}

.menu {
  &__title {
    margin-bottom: 0.7em;
  }
  &__item- {
    &field {
      width: 75%;
      margin-bottom: 3em;
      gap: 2em;
    }
    &img {
      width: 500px;
      height: 281.25px;
      object-fit: cover;
      border-radius: 15px;
      outline: goldenrod solid 2px;
      box-shadow: inset;
    }
    &name {
      margin: -10px 0px;
    }
    &description {
    }
  }
}
.contact__ {
  &item {
    width: 100%;
  }
  &logo {
    height: 50px;
    object-fit: scale-down;
  }
}

@media only screen and (max-width: 600px) {
  .nav-bar__item {
    font-size: 20px;
    padding: 8px;
    margin-right: 8px;
  }
  .home__title {
    font-size: 50px;
  }
  .home__welcome-container,
  .hour__list-item,
  .location__address {
    font-size: 16px;
    text-shadow: none;
    color: black;
  }
  .home__title-category {
    font-size: 25px;
  }
  .menu__item- {
    &img {
      width: 200px;
      height: 112.5px;
    }
    &name {
      font-size: 20px;
      margin: -5px 0;
    }
    &field {
      width: 400px;
      margin-bottom: 1.5em;
      gap: 1em;
    }
  }
  .contact__ {
    &logo {
      height: 25px;
    }
    &item{
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .menu__item- {
    &img {
      width: 200px;
      height: 112.5px;
    }
    &name {
      font-size: 16px;
      margin: -5px 0;
    }
    &field {
      width: 95%;
      margin-bottom: 1.5em;
      gap: 0.5em;
    }
  }
}
